@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
body{
  font-family: 'Open Sans',sans-serif !important;
}

.navbar-logo {
  background-color: #009184;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.bg-borrow{
  background-color: #e8eae9;
  padding: 0px 31px 24px 28px;
}

.borrow {
  position: relative;
  /*top: 50%;*/
  transform: translateY(50%);

  color: white;
  font-size: .9em;
  text-align: right;
}

.text-borrow {
  background-color:transparent;
  border: 1px solid white;
  border-radius: 2px;
  width: 120px;
  padding: 8px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  margin-left: 5px;    /* Opera/IE 8+ */
}

.text-borrow1 {
  background-color:transparent;
  border: 1px solid #6A6C6B;
  border-radius: 6px;
  width: 120px;
  padding: 8px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  margin-left: 5px;    /* Opera/IE 8+ */
}

.btn-borrow {
  background-color: #343635;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
  width: 120px;
  margin-left: 10px;
}

.btn-sign {
  background-color: #343635;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
  width: 100px;
  margin-left: 10px;
}

.slider-bg {
  background-image: url("../img/home-slider1.png");
  /*width: 100%;*/
  background-size: cover;
  height: 197px;
}

.nav {
  width: 100%;
  display: block;
  margin-left: 5%;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-default .nav li a{
  font-family: "Open Sans",sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  margin-left: 9px;
  margin-right: 9px;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #69695F;
    opacity: 0.9;
    border-radius: 4px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #fed136;
}

/*#services {
  margin-top: 100px;
  background-color: #fff;
}*/

#rowhead{
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
}

#rowhead h3{
  color: #00918D;
  text-transform: none !important;
  font-family: 'Open Sans',sans-serif !important;
}

.hmm h2{
  text-transform: none !important;
  color: #6E6E6E;
  font-weight: 100;
}

.hmm h3{
  color: #6E6E6E;
  font-family: 'Open Sans',sans-serif !important;
  font-style: normal !important;
}

#rowcontent{
  margin-top: 25px;
}

#rowcontent h4{
  color: #898a88;
  text-transform: none !important;
  font-family: 'Open Sans',sans-serif !important;
}

.whatwedo{
  list-style-type: square;
  font-size: 15px;
}

#aboutus p{
  font-size: 15px;
}

.input-md{
  margin: 7px 7px 7px 0px;
}

.btnFund{
  background-color: transparent;
  color: #F23845;
  border: 1px solid #F23845;
  padding: 8px;
  border-radius: 8px;
  width: 235px;
}

.btnFund:hover{
  background-color: #F23845;
  color: #fff;
}

.btnSubmit{
  background-color: #F23845;
  color: white;
  margin-top: 7px;
  padding: 10px 8px 10px 8px;
  border-radius: 5px;
  border: 0px;
  width: 155px;
  border: 1px solid #F23845;
}

.btnSubmit:hover{
  background-color: transparent;
  color: #F23845;
}

.ourteam img{

  height: 176px;
  width:  183px;
  padding: 0 !important;
}
.ourteam{
  padding: 0 !important;
}

.news-clip{
  width: 100%;
}

.sep{
  margin-top: 100px;
}
.social{
  color: #fff;
  font-size: 25px;
}

.social-button{
  margin-left: 20px;
}
.fa:hover{
    color : #00918D !important;
}

section {
  padding: 100px 0;
}

#borrow-money{
  margin: 40px 0px 40px 0px;
  min-height: 50px;

}

#borrow-money h2.section-heading {
  text-transform: none;
  font-weight: 400;
  color: #898a88;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 50px;
  padding-left : 11px;
  padding-bottom: 16px;
  font-size: 2em;
}

section#services h2.section-heading {
  text-transform: none;
  font-weight: lighter;
  color: #898a88;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 50px;
  font-size: 4em;
}

section#services h3.section-heading {
  text-transform: none;
  font-weight: lighter;
  color: #898a88;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
  font-size: 2.3em;
}

section#services h3.section-subheading {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  font-style: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-style: normal;
}

section#services .container {
  padding-left: 100px;
  padding-right: 100px;
}

section#services h4 {
  text-transform: none;
  font-weight: normal;
  color: #898a88;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
}

section#services h5 {
  text-transform: none;
  font-weight: normal;
  color: #898a88;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

section#services h6 {
  text-transform: none;
  font-weight: normal;
  color: #898a88;
  font-family: 'Open Sans', sans-serif;
  line-height: 2em;
  font-size: 1em;
}

.vertical-align {
  position: relative;
/* top: 50%; */
transform: translateY(150%);
}

section#services p {
  text-transform: none;
  font-weight: normal;
  color: #898a88;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
  line-height: 1.3em;
}

section#services span {
  text-transform: none;
  font-weight: lighter;;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  line-height: 1.3em;
  vertical-align: middle;
}

section#services ul {
  list-style-type: square;
}

section#services li:before {
  content: "";
  background-color: #197b81;
}

section#services li {
  text-transform: none;
  font-weight: lighter;;
  color: #898a88;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  line-height: 1.3em;
  vertical-align: middle;
}

.btnCheck {
  color: #fff;
  background-color: #f23844;
  border-color: #f23844;
  font-weight: 400;
  border-radius: 3px;
  font-size: 17px;
  padding: 9px;
  width: 300px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.btnCheck:hover {
  color: #f23844;
  background-color: transparent;
  border-color: #f23844;
}

.btnWont {
  color: #fff;
  background-color: #727270;
  border-color: #727270;
  font-weight: 300;
  border-radius: 3px;
  font-size: 17px;
  padding: 9px;
  width: 300px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

.btnWont:hover {
  color: #fff;
  background-color: #7a7a79;
  border-color: #7a7a79;
}

.hvr-bubble-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

}

.hvr-bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  top: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent transparent transparent;

}
.hvr-bubble-top:hover:before, .hvr-bubble-top:focus:before, .hvr-bubble-top:active:before {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  border-color: transparent transparent #7a7a79 transparent;
}

.team-member {
  border: 0;
  margin-bottom: 0;
}

.testimonial{
  text-align: center;
}

.testimonial h5{
  color: #f23844;
  text-transform: none !important;
  font-family: 'Open Sans',sans-serif !important;
  font-size: 18px;
  font-weight: 500;
}

.testimonial img{
  border-radius: 75px;
  height: 150px;
  width: 150px;
}

.choose{
  margin-top: 30px;
}

.choose h4{
  margin: 30px 0px 30px 0px;
  color: #696969 !important;
  font-size: 20px;
}

.choose p{
  font-size: 16px;
}

.personal p{
  font-size: 17px;
  font-weight: 300;
}

.personal ul{
  list-style: none;
  padding: 0px;
}

.personal li a{
  text-align: left;
  text-decoration: none;
  color : #333;
  font-size: 17px;
  font-weight: 300;
}
.personal li a:hover{
  color : #446B66;
  font-weight: 700;
}

.tblplans{
  font-size: 15px;
}

.tblplans th{
  background-color: #b0b0b0;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.tblplans td{
  text-align: center;
}

.tblplans .firstcol{
  background-color: #b0b0b0;
  color: #fff;
  text-align: left;
  width: 30%;
}

#rowhead2{
  padding-bottom: 15px;
}

#rowhead2 h3{
  color: #00918D;
  text-transform: none !important;
  font-family: 'Open Sans',sans-serif !important;
  margin-left: 20px;
}

#rowhead2 p{
  margin-left: 20px;
}

#rowcontent3{
  padding: 10px 25px 10px 15px;
  font-size: 16px;
}

.patients{
  margin-top: 112px;
  background-color: #E8EAE9;
}

.btnStart{
  color: #fff;
  background-color: #f23844;
  border: 1px solid #f23844;
  padding: 10px 16px;
  border-radius: 5px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  margin-left: 5px;
}

.btnStart:hover {
  color: #f23844;
  background-color: transparent;
  border-color: #f23844;
}

.yourDoctor{
  color: #6A6C6B;
  text-align: center;
  margin-left: 18%;
}
.yourDoctor:hover{
  color: #f23844;
  text-decoration: none !important;
}

section#portfolio {
  background-image: url("../img/invest.png");
  /*width: 100%;*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
}

section#portfolio h2.section-heading {
  text-transform: none;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
  font-size: 3em;
}

section#portfolio h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  font-style: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

section#portfolio img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section#portfolio .btn-xl {
  color: #fff;
  background-color: #f23844;
  border-color: #f23844;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 20px;
  padding: 15px 40px;
  width: 280px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

footer {
  background-color: #343635;
}

footer span.copyright {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  font-style: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}

/*ul.social-button{margin-bottom:0}
ul.social-button li a{display:block;height:40px;width:20px;font-size:20px;line-height:40px;color:#fff;outline:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
ul.social-button li a:hover,ul.social-buttons li a:focus,ul.social-buttons li a:active{background-color:#fed136}*/

::selection {
  background-color: #fff;
}
