html{color:#000;background:#FFF}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}

table{border-collapse:collapse;border-spacing:0}

fieldset,img{border:0}

address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}

ol,ul{list-style:none}

caption,th{text-align:left}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}

q:before,q:after{content:''}

abbr,acronym{border:0;font-variant:normal}

sup{vertical-align:text-top}

sub{vertical-align:text-bottom}

input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}

legend{color:#000}

#yui3-css-stamp.cssreset{display:none}

.clear{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0}

.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden}

html{color:#585858;background-color:#f1f1f1}

body{font-size:13px;font-family:'Helvetica',Helvetica,Arial,sans-serif}

h1,h2,h3,h4,h5,h6,strong{font-weight:bold}

h1{color:#585858;font-size:28px;font-weight:lighter}

h2{color:#585858;font-size:21px;font-weight:lighter}

p{margin:0;padding:5px 0;color:#585858;font-size:13px;line-height:20px;font-weight:lighter}

ol,ul,dl{margin-bottom:1em;line-height:1.2em}

ol,ul{margin-left:1.5em}

ol li{list-style:decimal}

li{margin:0;padding:4px 0;color:#444;font-size:13px;line-height:20px}

blockquote{font-weight:bold;font-style:italic}

blockquote p{padding:10px 0 0 0}

a{color:#206dd6;text-decoration:none}

sup{vertical-align:super;height:0;font-size:10px;line-height:normal}

h1 sup,h2 sup,h3 sup{vertical-align:super;height:0;font-size:12px}

h3 .reduced-rates-super{font-size:10px}

abbr,acronym{border-bottom:1px dotted #000;cursor:help}

em{font-style:italic}

strong{font-weight:bold}

del{text-decoration:line-through}

.master_invest a{color:#206dd6}

.master_borrow a{color:#5a9229}

input:focus,select:focus,textarea:focus{outline:0}

input[type='checkbox']:focus,input[type='radio']:focus,input[type='submit']:focus{outline:dotted 1px;outline:auto -webkit-focus-ring-color;outline-color:#206dd6}

button:focus{outline:0}

.hidden{display:none}

.lc-page-wrapper{width:970px;margin:0 auto;padding:0;background-color:transparent;clear:both}

.lc-header{clear:both;height:90px;margin:0;padding:0;position:relative;background:#fff;border-bottom:1px solid #e2e2e2}

.lc-header:after{clear:both;content:".";display:block;height:0;visibility:hidden}

.lc-wrapper{display:block;float:left;width:970px;margin:3px 0 3px 0;padding:20px 0 0 0;background-color:#fff;border-bottom:1px solid #e2e2e2}

.lc-category-menu{display:block;float:left;width:180px;margin:0;padding:0;background-color:#fff;overflow:hidden}

.lc-content-wrapper{display:block;float:left;width:auto;margin:0;padding:0;background-color:#fff}

.lc-content{float:left;width:790px}

.lc-footer{clear:both}

.lc-footer:after{clear:both;content:".";display:block;height:0;visibility:hidden}

#master_section-tagline{display:none}

.master_mobile_only{display:none}

.lc-logo{float:left}

.lc-logo span a{background:url(/public/images/b65dbea/library/masterSpriteV2.png) 0 0 no-repeat;display:block;float:left;position:relative;width:239px;height:36px;margin:40px 0 0;left:19px;outline:0;text-indent:-9999px}

body .lc-header a.lc-mobile-sign-in{display:none}

.backpack .lc-logo span a{background:url(/public/images/b65dbea/library/logo-lc_google.png) 0 0 no-repeat;display:block;height:80px;left:25px;outline:0;text-indent:-9999px;width:290px;float:left;position:relative}

.lc-submenu{float:right}

.master_fmenu li{float:left;width:auto;line-height:1.231}

.master_fmenu a{float:left;width:auto}

.master_fmenu li.first a{padding-left:0}

#master_utilities{position:absolute;right:20px;top:8px}

#master_utilities li{color:#999;background:url(/public/images/b65dbea/library/masterSpriteV2.png) -237px -35px transparent no-repeat scroll}

#master_utilities li.first{position:relative;background-image:none}

#master_utilities li.first+.master_help-link{background:0;position:relative;top:2px;right:2px;font-weight:normal}

#master_utilities a{color:#444;padding:5px 10px 7px 10px;height:15px}

#master_utilities span{padding:3px 10px 7px 0}

#master_utilities .master_help-link a{padding-right:0}

#master_mobile_utilities{display:none}

.borrower-reg #master_utilities,.lender-reg #master_utilities{top:50px}

.borrower-reg #master_utilities li,.lender-reg #master_utilities li,.borrower-reg #master_utilities.signed-in li,.lender-reg #master_utilities.signed-in li{background:url(/public/images/b65dbea/library/masterSpriteV2.png) -237px -42px transparent no-repeat scroll}

.borrower-reg #master_utilities li.first,.lender-reg #master_utilities li.first{background:0}

.borrower-reg #master_utilities.signed-in li.first,.lender-reg #master_utilities.signed-in li.first{background:0}

.borrower-reg #master_utilities.signed-in li.first,.lender-reg #master_utilities.signed-in li.first{background:0}

#master_top-nav{float:right;margin:48px 0 0 0}

#master_top-nav li{margin:0;padding:0 14px;background:url(/public/images/b65dbea/library/masterSpriteV2.png) -237px -35px transparent no-repeat scroll}

#master_top-nav li.first{background-image:none;padding-left:0}

#master_top-nav a{color:#231f20;padding:10px 0;line-height:116%;font-size:14px;font-weight:200}

#master_top-nav a.active{font-weight:bold;padding-bottom:2px;border-bottom:2px solid #de0000}

#master_top-nav a:hover{text-decoration:none}

body.borrower-reg #master_top-nav,body.lender-reg #master_top-nav{display:none}

.lightbox .container-close{background:url(/public/images/b65dbea/mainapp/investUI/x-close.png) transparent 0 0 no-repeat;width:17px;height:16px;margin:0}

a.css_btn_class{display:inline-block;margin:0 1px 0;padding:5px 10px 7px 10px;text-decoration:none;color:#444;font-size:13px;font-family:Arial;font-weight:normal;-moz-border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;border-radius:5px;border:1px solid #d5d5d5;background:-webkit-gradient(linear,left top,left bottom,color-stop(5%,#fff),color-stop(100%,#dadada));background:-moz-linear-gradient(center top,#fff 5%,#dadada 100%);background:-ms-linear-gradient(top,#fff 5%,#dadada 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dadada');background-color:#fff;text-shadow:2px 1px #fff}

a.css_btn_class:hover{background:-webkit-gradient(linear,left top,left bottom,color-stop(5%,#f0f0f0),color-stop(100%,#fff));background:-moz-linear-gradient(center top,#f0f0f0 5%,#fff 100%);background:-ms-linear-gradient(top,#f0f0f0 5%,#fff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0',endColorstr='#ffffff');background-color:#f0f0f0;text-decoration:none}

.css_btn_class:active{position:relative;top:1px}

.lc-footer{position:relative;padding:30px;font-size:92.3%;font-weight:normal;line-height:1.3;background:transparent;margin-top:1px;color:#999}

.lc-footer a,.lc-footer p{color:#999;font-size:12px;font-weight:normal;line-height:17px}

.master_hmenu{margin-left:0;margin-bottom:5px}

.master_hmenu li{background:url(/public/images/b65dbea/library/masterSpriteV2.png) -237px -73px transparent no-repeat scroll;display:inline;list-style:none;padding:0 11px 0 12px}

.master_hmenu li.master_mobile_only{display:none}

.master_hmenu li.first{background:0;padding-left:0}

#master_footer-contact{float:left}

#master_footer-contact .footer-logo{background:url(/public/images/b65dbea/library/masterSpriteV2.png) 0 -80px transparent no-repeat scroll;width:126px;height:19px}

#master_footer-contact p{padding:6px 0 21px}

.lc-footer #master_follow{display:inline-block;float:right;margin:5px 0 22px;position:relative;bottom:20px}

.lc-footer #master_follow a{margin-top:20px;margin-left:15px;float:left;height:30px;background:url(/public/images/b65dbea/library/masterSpriteV2.png) 0 0 no-repeat transparent}

.lc-footer #master_follow span{float:left;margin-top:30px;text-transform:uppercase;margin-right:11px}

.lc-footer #master_follow #blogImg{background-position:-7px -35px;width:22px}

.lc-footer #master_follow #faceImg{background-position:-45px -39px;width:12px}

.lc-footer #master_follow #twitImg{background-position:-107px -38px;width:32px}

.lc-footer #master_follow #googleImg{background-position:-74px -37px;width:26px}

#footerMasterHmenu{position:absolute;right:25px;top:89px;text-align:right}

#footerMasterHmenu li{padding:0 5px 0 9px}

.footer-footnote{padding-top:5px;color:#999;clear:both;padding-right:20px;border-top:1px solid #ccc;font-size:84.6%}

.lc-footer .footer-footnote p{margin-left:0;font-size:100%;padding-bottom:0}

.lc-footer .footer-footnote p a{font-size:100%;text-decoration:underline}

.lc-footer #master_copyright-bg{clear:both;font-size:84.6%}

#master_ecoa-span{margin-left:5px}

#master_copyright_ecoa{background:url(/public/images/b65dbea/library/masterSpriteV2.png) -128px -83px no-repeat scroll transparent;height:11px;width:15px;margin-right:6px;display:inline-block}

.lc-promo{margin:0;padding:20px;clear:both;background-color:#fff;border-bottom:1px solid #e2e2e2}

.lc-promo .lc-promo-module{display:block;float:left;width:370px;margin:0}

.lc-promo .lc-promo-module:first-child{width:180px}

.lc-promo .lc-promo-module h2{font-size:138.5%;font-weight:normal;margin-bottom:13px;padding-top:5px}

.lc-promo .lc-promo-module blockquote,.lc-promo .lc-promo-module blockquote p{padding:0 0 5px 0;color:#999;font-family:Minion Pro;font-size:17px;font-style:italic;text-shadow:none;line-height:20px}

.lc-promo .lc-promo-module blockquote.smallFont p{font-size:15px;line-height:16px;padding-bottom:0}

.lc-promo .lc-promo-module a{color:#206dd6}

#wrapper_promo1-vote{height:260px;margin:0;padding:0 20px}

#wrapper_promo2{height:210px;margin:0;padding:0 22px;background:url(/public/images/b65dbea/content/fade-out-divider.png) 0 0 transparent no-repeat}

#wrapper_promo3{height:210px;margin:0;padding:0 0 0 25px;background:url(/public/images/b65dbea/content/fade-out-divider.png) 0 0 transparent no-repeat}

#inner_promo1-vote,#inner_promo2,#inner_promo3{position:relative;height:260px}

#award-most-promising{background:url("/public/images/b65dbea/content/marketing/forbes-2014-s.png") no-repeat scroll left center;height:100%;width:100%}

.lc-blockquote.promo2b{font-size:116%;line-height:1.7;margin-bottom:10px;padding:14px 0 2px 5px}

.user-promo-pic{float:left;width:75px;margin:0 10px 15px 4px}

.user-promo-data{float:left;margin:0 0 0 3px;font-size:108%}

.user-promo-data::after{clear:both;content:".";display:block;height:0;visibility:hidden}

.user-promo-data li{padding:4px 0 3px 0;line-height:16px}

.user-promo-data .user-name{margin:0;padding:0;line-height:16px;color:#555}

.user-promo-data .state{margin:0;padding:0;line-height:16px;font-style:italic;color:#555}

.user-promo-data .purpose{margin:10px 0 0 0;padding:0;line-height:16px}

#inner_promo3 .promo3_pad,#inner_promo3 .promo3a_pad,#inner_promo3 .promo3b_pad,#inner_promo3 .promo3c_pad,#inner_promo3 .promo3d_pad,#inner_promo3 .promo3e_pad,#inner_promo3 .promo3f_pad,#inner_promo3 .promo3g_pad,#inner_promo3 .promo3h_pad,#inner_promo3 .promo3i_pad{font-size:12px;line-height:15px;margin:0;padding:0 0 10px 0;clear:both}

#inner_promo1-vote .promo-link,#inner_promo2 .promo-link,#inner_promo3 .promo-link{position:absolute;bottom:-5px;margin:10px 0 0 0;padding:0;font-weight:bold;color:#206dd6}

#wrapper_promo1-vote .promo-link .triangle-link:after,#wrapper_promo2 .promo-link .triangle-link:after,#wrapper_promo3 .promo-link .triangle-link:after{top:4px}

.lc-category-menu ul{margin:0;padding:0 0 5px 0;position:relative}

.lc-category-menu li{margin:0;padding:0}

.lc-category-menu li a{display:block;padding:10px 0 10px 20px;color:#444;font-weight:normal}

.lc-category-menu li a:hover{text-decoration:none}

.lc-category-menu li a.active{color:#9c9c9c;border-left:4px solid #d13138;padding-left:16px}

.lc-category-menu h3{font-size:100%;padding:18px 0 7px 18px}

.hero{margin:0 0 7px 0;padding:0;clear:both}

.border-radius{border-top:1px solid #f1f1f1;border-left:1px solid #e1e1e1;border-right:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;-moz-box-shadow:0 2px 2px rgba(0,0,0,.2);box-shadow:0 2px 2px rgba(0,0,0,.2);background-color:#fafafa}

.top-border-radius{border-top:1px solid #f1f1f1;border-left:1px solid #e1e1e1;border-right:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;-moz-border-top-left-radius:8px;-webkit-border-top-left-radius:8px;border-top-left-radius:8px;-moz-border-top-right-radius:8px;-webkit-border-top-right-radius:8px;border-top-right-radius:8px;-moz-box-shadow:0 2px 2px rgba(0,0,0,.2);box-shadow:0 2px 2px rgba(0,0,0,.2);background-color:#fafafa}

.table{width:800px;margin:0 0 0 -12px;padding:0;display:table;border-spacing:14px 0}

.row{display:table-row}

.left-col,.right-col,.middle-col{display:table-cell;vertical-align:top;margin:0;padding:15px 0 5px 0}

.left-col{width:550px}

.right-col{width:225px}

.main-center{width:770px;margin:0 0 20px 3px;padding:0;clear:both}

.content-wrapper{margin:0;padding:0;border-top:1px solid #fff;border-bottom:1px solid #d3d3d3}

.content-wrapper:first-child{border-top:0;border-bottom:1px solid #d3d3d3}

.last{border-bottom:0}

.only-one:first-child{border:0}

.content-wrapper.no-border{border:0}

.content-wrapper.footnotes{border-top:1px solid #d3d3d3}

.content-wrapper.footnotes li{font-size:80%}

.main-content{margin:0;padding:32px 34px}

.left-col .main-content{padding:14px 25px}

.sidebar-content{margin:0;padding:0 15px 10px 15px}

.sidebar-content h2{margin:10px 0 0 0;font-size:19px}

.loans-stats{margin:0 0 10px 0;padding:2px 10px;clear:both;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:2px solid #38a023}

.loans-stats p{margin:0;padding:0;color:#289d05;font-size:15px;line-height:25px}

.interests-stats{margin:10px 0 5px 0;padding:2px 10px;clear:both;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:2px solid #275eb9}

.interests-stats p{margin:0;padding:0;color:#275eb9;font-size:15px;line-height:25px}

.loans-stats .amount,.interests-stats .amount{margin:0;padding:0 0 3px 0;font-size:26px;font-weight:bold}

.videoWrapper{height:0;padding-bottom:52.25%;padding-top:0;position:relative;margin:20px 0 30px 0;clear:both}

.videoWrapper iframe{height:100%;width:100%;position:absolute;left:0;top:0}

.sidebar-content .spotlight-video{width:195px;margin:10px 0 0 0;padding:0}

.mail-link{display:inline-block;float:right;margin:5px 0;padding:5px 10px 5px 30px;line-height:15px;clear:both;background:url(/public/images/b65dbea/content/buttons/email-icon.png) 0 5px no-repeat;color:#2a5f96;text-decoration:none}

.mail-link:hover{text-decoration:underline}

.faq-borrow a{color:#5a9229}

.disc-list{list-style-type:disc}

.bullet-list li{list-style-type:disc;margin:5px 0 5px 20px;padding:5px 0;color:#585858}

.square-list,.green-square-list{margin:5px 0;padding:0 0 0 20px;vertical-align:middle}

.square-list li:before{content:"\25A0";color:#295ab1;list-style-type:square;display:block;position:relative;max-width:0;max-height:0;left:-20px;top:-1px}

.green-square-list li:before{content:"\25A0";color:#4a9328;list-style-type:square;display:block;position:relative;max-width:0;max-height:0;left:-20px;top:-1px}

.red-square-list{margin:5px 0;padding:0 0 0 25px;vertical-align:middle}

.red-square-list li{margin:5px 0 10px 0;color:#585858;font-weight:lighter}

.red-square-list li:before{content:"\25A0";color:#d72728;list-style-type:square;display:block;position:relative;max-width:0;max-height:0;left:-25px;top:-1px}

.highlighted li{font-weight:bold;font-size:14px}

.red-dot{background:url("/public/images/b65dbea/library/masterSpriteV2.png") no-repeat scroll -230px -138px rgba(0,0,0,0);padding-left:15px}

.H2Promo2{font-size:20px;font-weight:normal;margin-bottom:13px;padding-top:5px}

.call-for-actions{height:50px;margin:25px 0 10px 0;padding:0;clear:both,}

.call-for-actions a{display:inline-block;float:left;margin:15px 5px 20px 5px;padding:0 10px 0 0;border-right:1px solid #bababa;font-weight:bold;font-size:13px}

.call-for-actions a:first-child{padding:0 0 0 15px}

.call-for-actions a.last-call{border:0}



.call-for-actions a.btn{margin:0 10px 0 0;padding:5px 25px;color:#fff;font-size:18px;height:30px;line-height:30px;border-right:0

}
